<%- include('./partials/header') -%>
  <div>
    <h1>Page Recherche</h1>
    <div>
      <input type="text" name="term" id="term" placeholder="titre de film"/>
      <button id="btnSearch">Chercher</button>
    </div>
  </div>
  <div id="results">

  </div>
  <%- include('./partials/footer') -%>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="public/movie-search.js"></script>