@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body{ 
  height:100%;
}
body {

  font-family: 'Poppins',Monaco,"Andale Mono",monospace;
  background-color: #212121;
  color: #fff;
  display: flex;
  flex-direction: column;
  height:100%;
  
}
header {
  text-align: center; 
}
menu {
  display: flex;
  justify-content: space-around;
}
menu a{
  color:  #09DBB7;
}
.central {
  min-height: 250px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color:  #fff;
}
.movies {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-movies {
  justify-content: space-between;
  flex-wrap: wrap;
}
.french-movies {
  font-size: 1.2em;
}

/* ////////// -FORM ADD A MOVIE- //////////*/

.form-add-container {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  background:#09DBB7;
  border-radius: 15px;
  padding: 1em;
}
.form-add {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.form-add-legend {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}
.form-add input { 
  border-radius: 10px;
  border: none;
  padding: .5em;
  margin-bottom: 1em;
  background-color: #F5F5F5;
}
.form-add button { 
  border-radius: 10px;
  border: none;
  padding: .5em;
  width: 60%;
  margin: 0 auto;
}

/* ////////// -FOOTER- ////////// */

footer {
  text-align: center;
  margin-top:auto;
  background-color: #212128;
  padding: 1em;
}